images/
*.[oa] 
out/*

src/OverSim

simulations/.tkenvrc

simulations/results/Dxps-0.sca

src/common/OverlayKey.cc~

simulations/dxps.ini~

simulations/results/Dxps-0.vci

simulations/results/Dxps-0.vec
